terratowns_endpoint="https://terratowns.cloud/api"
bucket_name="terraform-bootcamp-bucket-2"
soultrek = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/soul-trek"
  content_version = 3 
}
rccars = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/rc-cars"
  content_version = 2 
}