user_uuid="4f0d5580-a84e-42f3-b598-5484c347df45"
bucket_name="terraform-bootcamp-bucket-1"
index_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/error.html"
content_version=2